@model PaginatedList<BugscapeMVC.Models.AppUser>
@using Microsoft.AspNetCore.Identity
@using BugscapeMVC.Services.Interfaces
@using BugscapeMVC.Models.Enums
@using System.Security.Claims

@inject IFileService FileService
@inject IProjectService ProjectService
@inject IRoleService RoleService
@inject UserManager<AppUser> UserManager

@{
    AppUser? user = await UserManager.GetUserAsync(User);

    ViewData["Title"] = "Company Members";

    var routeValues = new Dictionary<string, string>
    {
        { "search", ViewBag.Search },
        { "sortBy", ViewBag.SortBy },
        { "order", ViewBag.Order },
        { "page", Model.CurrentPage.ToString() },
        { "limit", Model.Limit.ToString() },
    };

    string GetNewOrder(string column)
    {
        if (ViewBag.SortBy == column)
        {
            return ViewBag.Order == "asc" ? "desc" : "asc";
        }

        return "asc";
    }
}

<div class="flex items-center justify-between mb-4">
    <h1 class="font-rockwell text-dark text-xl font-bold">@ViewData["Title"]</h1>
    @if (User.IsInRole(nameof(Roles.Admin)))
    {
        <a asp-action="Create" asp-controller="Invites" title="Invite New Member" class="bg-success hover:bg-opacity-80 transition-opacity flex items-center justify-center rounded-full p-2">
            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden viewBox="0 0 20 20" class="fill-white h-4 w-4">
                <path id="Icon_awesome-plus" data-name="Icon awesome-plus" d="M18.571,10.107H12.143V3.679A1.429,1.429,0,0,0,10.714,2.25H9.286A1.429,1.429,0,0,0,7.857,3.679v6.429H1.429A1.429,1.429,0,0,0,0,11.536v1.429a1.429,1.429,0,0,0,1.429,1.429H7.857v6.429A1.429,1.429,0,0,0,9.286,22.25h1.429a1.429,1.429,0,0,0,1.429-1.429V14.393h6.429A1.429,1.429,0,0,0,20,12.964V11.536A1.429,1.429,0,0,0,18.571,10.107Z" transform="translate(0 -2.25)" />
            </svg>
        </a>
    }
</div>

<form asp-action="Index" asp-controller="Members" method="get" class="flex flex-wrap items-center gap-2 justify-between mb-4">
    <div class="flex gap-1 items-center">
        <select name="limit" id="limit" class="font-lato text-sm" onchange="this.form.submit()">
            @foreach (var option in new int[] { 5, 10, 15, 20, 25, 30, 35, 40, 45, 50 })
            {
                <option value="@option" selected="@((Model.Limit == option))">@option</option>
            }
        </select>
        <label for="limit" class="font-lato text-sm">results per page</label>
    </div>
    <div class="relative">
        <input type="search" name="search" value="@ViewBag.Search" class="font-lato text-sm bg-white rounded-lg px-4 py-2 border-gray-200 pl-10 placeholder:text-gray-400" placeholder="Search members...">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 absolute top-2 left-2 stroke-dark">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
        </svg>
    </div>
</form>

<section>
    @if (Model.TotalItems == 0)
    {
        <p class="font-lato text-zinc-700">There are currently no members to show.</p>
    }
    else
    {        
    <div class="relative overflow-x-auto rounded-t-lg scrollbar-thin scrollbar-thumb-light scrollbar-track-lightest mb-4">
        <table id="projectTable" class="w-full text-sm text-left text-dark font-lato">
            <thead class="text-xs bg-light uppercase">
                <tr>
                    <th scope="col" class="px-6 py-3 whitespace-nowrap">
                        <a asp-action="Index" asp-controller="Members" asp-all-route-data="@routeValues" asp-route-sortBy="name" asp-route-order="@GetNewOrder("name")" class="flex items-center gap-2">
                            <span>Name</span>
                            @if (ViewBag.SortBy == "name")
                            {
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-3 h-3 @(ViewBag.Order == "asc" ? "rotate-180" : "rotate-none")">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 13.5L12 21m0 0l-7.5-7.5M12 21V3" />
                                </svg>
                            }
                        </a>
                    </th>
                    <th scope="col" class="px-6 py-3 whitespace-nowrap hidden sm:table-cell">
                        <a asp-action="Index" asp-controller="Members" asp-all-route-data="@routeValues" asp-route-sortBy="role"  asp-route-order="@GetNewOrder("role")" class="flex items-center gap-2">
                        <span>Role</span>
                            @if (ViewBag.SortBy == "role")
                            {
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-3 h-3 @(ViewBag.Order == "asc" ? "rotate-180" : "rotate-none")">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 13.5L12 21m0 0l-7.5-7.5M12 21V3" />
                                </svg>
                            }
                        </a>
                    </th>
                    <th scope="col" class="px-6 py-3 whitespace-nowrap hidden lg:table-cell">
                        <a asp-action="Index" asp-controller="Members" asp-all-route-data="@routeValues" asp-route-sortBy="email" asp-route-order="@GetNewOrder("email")" class="flex items-center gap-2">
                        <span>Email</span>
                            @if (ViewBag.SortBy == "email")
                            {
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-3 h-3 @(ViewBag.Order == "asc" ? "rotate-180" : "rotate-none")">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 13.5L12 21m0 0l-7.5-7.5M12 21V3" />
                                </svg>
                            }
                        </a>
                    </th>
                    <th scope="col" class="px-6 py-3 whitespace-nowrap" aria-label="Actions">
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    int rowNumber = 0;
                }

                @foreach (AppUser member in Model)
                {
                    string rowColor = rowNumber % 2 == 0 ? "bg-lightest" : "bg-mid";
                    rowNumber++;
                
                    <tr class="@rowColor border-b">
                        <th scope="row" class="px-6 py-4">
                            <a asp-action="Details" asp-route-id="@member?.Id" class="group whitespace-nowrap flex gap-2 items-center w-fit">
                                @if (member?.AvatarFileData is null || member?.AvatarContentType is null)
                                {
                                    <img class="h-8 w-8 object-cover rounded-full group-hover:scale-110 transition-transform" src="~/images/default-avatar.png" alt="@member?.FullName">
                                }
                                else
                                {
                                    <img class="h-8 w-8 object-cover rounded-full group-hover:scale-110 transition-transform" src="@FileService.ConvertByteArrayToFile(member.AvatarFileData, member.AvatarContentType)" alt="@member?.FullName">
                                }
                                <div class="flex flex-col gap-1">
                                    <span class="font-lato text-zinc-700 group-hover:underline underline-offset-2">@member?.FullName</span>
                                    <dl class="flex flex-col gap-1 sm:hidden">
                                        <dt class="sr-only">Role</dt>
                                        <dd class="whitespace-nowrap font-lato font-normal text-xs text-zinc-700">@((RoleService.GetUserRolesAsync(member!)).Result.FirstOrDefault()?.Replace("_", " "))</dd>
                                    </dl>
                                </div>
                            </a>
                        </th>
                    <td class="px-6 py-4 hidden sm:table-cell">
                        <span class="bg-dark text-white whitespace-nowrap uppercase px-2 py-1 rounded-md text-xs font-bold">@((RoleService.GetUserRolesAsync(member!)).Result.FirstOrDefault()?.Replace("_", " "))</span>
                    </td>
                    <td class="px-6 py-4 hidden lg:table-cell">
                        <a href="mailto:@member?.Email" class="font-lato underline text-zinc-700">@member?.Email</a>
                    </td>
                    
                    <td class="px-6 py-4 table-cell">
                        <div class="flex items-center gap-2">
                            <a asp-action="Details" asp-controller="Members" title="Member Profile" asp-route-id="@member?.Id" class="hover:scale-110 transition-transform">
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                </svg>
                            </a>

                            @if (User.FindFirstValue(ClaimTypes.NameIdentifier) == member?.Id)
                            {
                                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Account" class="hover:scale-110 transition-transform">
                                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                                    </svg>
                                </a>
                            }
                            
                            @if (User.IsInRole(nameof(Roles.Admin)) && (await RoleService.GetUserRolesAsync(member!)).FirstOrDefault() != nameof(Roles.Admin))
                            {
                                <a asp-action="Delete" asp-route-id="@member?.Id" title="Remove Member" class="hover:scale-110 transition-transform">
                                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                    </svg>
                                </a>
                            }                   
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="flex flex-wrap items-center justify-between gap-2 col-span-12">
        @if (Model.TotalPages > 1)
        {
            <div class="flex items-center gap-2">
    
                <a title="First Page" asp-action="Index" asp-controller="Members" asp-route-search="@ViewBag.Search" asp-route-sortBy="@ViewBag.SortBy" asp-route-order="@ViewBag.Order" asp-route-limit="@Model.Limit" asp-route-page="1" class="@(Model.CurrentPage > 1 ? "hover:bg-info hover:bg-opacity-80" : "opacity-60 pointer-events-none") h-8 w-8 flex items-center justify-center text-dark rounded-md font-lato transition-colors bg-gray-200">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M18.75 19.5l-7.5-7.5 7.5-7.5m-6 15L5.25 12l7.5-7.5" />
                    </svg>
                </a>
                <a title="Previous Page" asp-action="Index" asp-controller="Members" asp-route-search="@ViewBag.Search" asp-route-sortBy="@ViewBag.SortBy" asp-route-order="@ViewBag.Order" asp-route-limit="@Model.Limit" asp-route-page="@(Model.CurrentPage - 1)" class="@(Model.CurrentPage > 1 ? "hover:bg-info hover:bg-opacity-80" : "opacity-60 pointer-events-none") h-8 w-8 flex items-center justify-center text-dark rounded-md font-lato transition-colors bg-gray-200">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
                    </svg>
                </a>

                @for (int p = Model.FirstPageButton; p <= Model.LastPageButton; p++)
                {
                    <a aria-label="Page @p" asp-action="Index" asp-controller="Members" asp-route-search="@ViewBag.Search" asp-route-sortBy="@ViewBag.SortBy" asp-route-order="@ViewBag.Order" asp-route-limit="@Model.Limit" asp-route-page="@p" class="h-8 w-8 flex text-sm items-center justify-center text-dark rounded-md font-lato transition-all @(Model.CurrentPage == p ? "scale-110 bg-light pointer-events-none" : "hover:bg-info bg-mid")">
                        @p
                    </a>
                }

                <a title="Next Page" asp-action="Index" asp-controller="Members" asp-route-search="@ViewBag.Search" asp-route-sortBy="@ViewBag.SortBy" asp-route-order="@ViewBag.Order" asp-route-limit="@Model.Limit" asp-route-page="@(Model.CurrentPage != Model.TotalPages ? Model.CurrentPage + 1 : Model.TotalPages)" class="@(Model.CurrentPage != Model.TotalPages ? "hover:bg-info hover:bg-opacity-80" : "opacity-60 pointer-events-none") h-8 w-8 flex items-center justify-center text-dark rounded-md font-lato transition-colors bg-gray-200">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                    </svg>
                </a>
                <a title="Last Page" asp-action="Index" asp-controller="Members" asp-route-search="@ViewBag.Search" asp-route-sortBy="@ViewBag.SortBy" asp-route-order="@ViewBag.Order" asp-route-limit="@Model.Limit" asp-route-page="@Model.TotalPages" class="@(Model.CurrentPage != Model.TotalPages ? "hover:bg-info hover:bg-opacity-80" : "opacity-60 pointer-events-none") h-8 w-8 flex items-center justify-center text-dark rounded-md font-lato transition-colors bg-gray-200">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
                    </svg>
                </a>
            </div>
        }

        <span class="font-lato text-sm">
            Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItems members.
        </span>
    </div>
}
</section>