@using Microsoft.AspNetCore.Identity
@using BugscapeMVC.Models.Enums
@using BugscapeMVC.Services.Interfaces

@inject UserManager<AppUser> UserManager
@inject ICompanyInfoService CompanyInfoService
@inject IRoleService RoleService
@inject IFileService FileService
@inject INotificationService NotificationService

@{
    AppUser? user = await UserManager.GetUserAsync(User);
    bool isSignedIn = user is not null ? true : false;
    Company? company = user is not null ?
    (CompanyInfoService.GetCompanyInfoByIdAsync(user.CompanyId)).Result : null;

    var notifications = user is not null ? await NotificationService.GetReceivedNotificationsAsync(user.Id) : null;

    var avatarSource = user?.AvatarFileData is null || user.AvatarContentType is null
        ? "/images/default-avatar.png"
        : FileService.ConvertByteArrayToFile(user.AvatarFileData, user.AvatarContentType);
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bugscape</title>
    <link rel="stylesheet" href="https://use.typekit.net/asq2vkb.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body class="bg-lightest container scrollbar scrollbar-thumb-light scrollbar-track-lightest scrollbar-thumb-rounded-xl">
    <header class="h-24 p-4 md:px-0 fixed bottom-[calc(100vh-theme(spacing.24))] left-0 right-0 top-0 z-50 bg-lightest">
        <div class="container">
            <div class="flex items-center justify-between gap-10">
                <div class="flex items-center gap-4 md:gap-[90px]">
                    <a asp-action="Index" asp-controller="Home" class="w-48">
                        <img src="~/images/logo.png" alt="Bugscape Logo" class="object-contain">
                    </a>

                    @if (isSignedIn)
                    {
                        <div class="hidden md:block">
                            <partial name="_SearchBar" />    
                        </div> 
                    }
                </div>

                <div class="flex gap-4 items-center">
                    @if (isSignedIn)
                    {
                        @if (company is not null)
                        {
                            <a asp-action="Details" asp-controller="Companies" asp-route-id="@company.Id"
                                class="hidden md:flex md:gap-2 md:items-center">
                                @if (company.LogoFileData is null || company.LogoContentType is null)
                                {
                                    @if (!string.IsNullOrEmpty(company.Name))
                                    {
                                        string firstCharacter = company.Name[0].ToString().ToUpper();

                                        <div
                                            class="rounded-full bg-info h-8 w-8 flex items-center justify-center font-lato font-bold text-white">
                                            @firstCharacter
                                        </div>
                                    }
                                }
                                else
                                {
                                    <img class="h-8 w-8"
                                        src="@FileService.ConvertByteArrayToFile(company.LogoFileData, company.LogoContentType)"
                                        alt="@company.Name">
                                }
                                <span class="font-lato text-dark whitespace-nowrap truncate">@company.Name</span>
                            </a>
                        }

                        <partial name="/Views/Shared/_NotificationsMenu.cshtml" model="@notifications" />

                        <a class="hidden md:block" title="Signout"
                            href="javascript:document.getElementById('logoutForm').submit();">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden class="h-6 w-6 stroke-zinc-700" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                            </svg>
                        </a>
                    }
                    else
                    {
                        <div class="flex items-center gap-4">
                            <a asp-area="Identity" asp-page="/Account/Register"
                                class="hidden md:block font-lato text-dark rounded-md px-4 py-2 bg-success text-xs hover:bg-opacity-80 transition-opacity">Register</a>
                            <a asp-area="Identity" asp-page="/Account/Login"
                                class="font-lato text-dark rounded-md px-4 py-2 bg-info text-xs hover:bg-opacity-80 transition-opacity">Sign
                                In</a>
                        </div>
                    }
                    <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout"
                        asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    </form>

                    <button class="@(isSignedIn ? "" : "hidden") md:hidden" title="Toggle Menu" data-toggle-menu>
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6 stroke-dark">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </header>

    <div class="flex min-h-screen">
        @if (isSignedIn)
        {
            <aside data-menu
                class="z-50 -translate-x-full md:translate-x-0 shadow-md transition-transform fixed md:top-24 min-h-screen md:h-[calc(100vh-theme(spacing.24))] overflow-y-auto mr-6 scrollbar-thin scrollbar-thumb-light scrollbar-track-lightest scrollbar-thumb-rounded-xl">
                <nav class="bg-mid md:rounded-t-xl min-w-[theme.spacing.64] h-screen md:h-[calc(100vh-theme(spacing.24))] pt-12 pb-4 px-8 flex flex-col justify-between gap-8">
                    <div class="space-y-6 font-dark font-bold text-sm font-lato uppercase">
                        <div class="md:hidden">
                            <partial name="_SearchBar" />    
                        </div>

                        <a class="flex gap-4 items-center group" asp-action="Dashboard" asp-controller="Home">
                            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-light" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" width="24" aria-hidden>
                                <path stroke-linecap="round" stroke-linejoin="round" d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z" />
                                <path stroke-linecap="round" stroke-linejoin="round" d="M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z" />
                            </svg>
                            <span>Dashboard</span>
                        </a>

                        <div class="dropdown space-y-4">
                            <div class="trigger cursor-pointer flex items-center justify-between group">
                                <div class="flex items-center gap-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-light" aria-hidden width="24" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M11 4a2 2 0 114 0v1a1 1 0 001 1h3a1 1 0 011 1v3a1 1 0 01-1 1h-1a2 2 0 100 4h1a1 1 0 011 1v3a1 1 0 01-1 1h-3a1 1 0 01-1-1v-1a2 2 0 10-4 0v1a1 1 0 01-1 1H7a1 1 0 01-1-1v-3a1 1 0 00-1-1H4a2 2 0 110-4h1a1 1 0 001-1V7a1 1 0 011-1h3a1 1 0 001-1V4z" />
                                    </svg>
                                    <span>Projects</span>
                                </div>

                                <svg xmlns="http://www.w3.org/2000/svg" class="switch stroke-light h-6 w-6 transition-transform group-hover:scale-110" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
                                </svg>
                            </div>

                            <div class="content gap-10">
                                <div class="flex bg-light w-1"></div>
                                <div class="flex flex-col gap-4 font-normal text-xs">
                                    @if (User.IsInRole(nameof(Roles.Admin)) || User.IsInRole(nameof(Roles.Project_Manager)))
                                    {
                                        <a asp-area="" asp-controller="Projects" asp-action="Create">New Project</a>
                                    }
                                    @if (!User.IsInRole(nameof(Roles.Admin)))
                                    {
                                        <a asp-area="" asp-controller="Projects" asp-action="MyProjects">My Projects</a>
                                    }
                                    <a asp-area="" asp-controller="Projects" asp-action="Index">All Projects</a>
                                    <a asp-area="" asp-controller="Projects" asp-action="ArchivedProjects">Archived
                                        Projects</a>
                                    @if (User.IsInRole(nameof(Roles.Admin)))
                                    {
                                        <a asp-area="" asp-controller="Projects" asp-action="UnassignedProjects">Unassigned
                                            Projects</a>
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="dropdown space-y-4">
                            <div class="trigger cursor-pointer flex items-center justify-between group">
                                <div class="flex items-center gap-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="stroke-light" width="24" aria-hidden>
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 6v.75m0 3v.75m0 3v.75m0 3V18m-9-5.25h5.25M7.5 15h3M3.375 5.25c-.621 0-1.125.504-1.125 1.125v3.026a2.999 2.999 0 0 1 0 5.198v3.026c0 .621.504 1.125 1.125 1.125h17.25c.621 0 1.125-.504 1.125-1.125v-3.026a2.999 2.999 0 0 1 0-5.198V6.375c0-.621-.504-1.125-1.125-1.125H3.375Z" />
                                    </svg>
                                    <span>Tickets</span>
                                </div>

                                <svg xmlns="http://www.w3.org/2000/svg" class="switch stroke-light h-6 w-6 transition-transform group-hover:scale-110" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
                                </svg>
                            </div>

                            <div class="content gap-10">
                                <div class="flex bg-light w-1"></div>
                                <div class="flex flex-col gap-4 font-normal text-xs">
                                    <a asp-area="" asp-controller="Tickets" asp-action="Create">New Ticket</a>
                                    @if (!User.IsInRole(nameof(Roles.Admin)))
                                    {
                                        <a asp-area="" asp-controller="Tickets" asp-action="MyTickets">My Tickets</a>
                                    }
                                    <a asp-area="" asp-controller="Tickets" asp-action="Index">All Tickets</a>
                                    <a asp-area="" asp-controller="Tickets" asp-action="ArchivedTickets">Archived
                                        Tickets</a>
                                    @if (User.IsInRole(nameof(Roles.Admin)) || User.IsInRole(nameof(Roles.Project_Manager)))
                                    {
                                        <a asp-area="" asp-controller="Tickets" asp-action="UnassignedTickets">Unassigned
                                            Tickets</a>
                                    }
                                </div>
                            </div>
                        </div>

                        <a asp-controller="Members" asp-action="Index" class="flex gap-4 items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden width="24" class="stroke-light" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
                            </svg>
                            <span>Team</span>
                        </a>

                        <a asp-action="Inbox" asp-controller="Notifications" class="flex gap-4 items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-light" aria-hidden width="24" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                            </svg>
                            <span>Inbox</span>
                        </a>

                        @if (User.IsInRole(nameof(Roles.Admin)))
                        {
                            <div class="dropdown space-y-4">
                                <div class="trigger cursor-pointer flex items-center justify-between group">
                                    <div class="flex items-center gap-4">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-light" width="24" aria-hidden fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                         <path stroke-linecap="round" stroke-linejoin="round" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z" />
                                        </svg>
                                        <span>Admin</span>
                                    </div>

                                    <svg xmlns="http://www.w3.org/2000/svg" class="switch stroke-light h-6 w-6 transition-transform group-hover:scale-110" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
                                    </svg>
                                </div>

                                <div class="content gap-10">
                                    <div class="flex bg-light w-1"></div>
                                    <div class="flex flex-col gap-4 font-normal text-xs">
                                        <a asp-controller="Invites" asp-action="Create">Invite Member</a>
                                        <a asp-controller="Companies" asp-action="Edit" asp-route-id="@company?.Id">Update Company</a>
                                        <a asp-controller="UserRoles" asp-action="ManageUserRoles">Manage User Roles</a>
                                    </div>
                                </div>
                            </div>
                        }

                        <hr class="bg-lightest" />

                        <a asp-area="Identity" asp-page="/Account/Manage/Index" class="flex gap-4 items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-light" aria-hidden width="24" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            </svg>
                            <span>Settings</span>
                        </a>

                        <a title="Signout" href="javascript:document.getElementById('logoutForm').submit();" class="flex gap-4 items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden width="24" class="stroke-light" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                            </svg>
                            <span>Logout</span>
                        </a>

                    </div>

                    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Account">
                        <div class="bg-light rounded-2xl px-4 py-3 flex gap-4 items-center">
                            <img class="h-14 w-14 object-cover rounded-full ring-4 ring-mid" src="@avatarSource" alt="@user?.FullName">
                            <div class="font-lato w-24">
                                <span class="font-semibold text-sm block whitespace-nowrap truncate">@user?.FullName</span>
                                <span
                                    class="text-xs block whitespace-nowrap">@((user != null ? RoleService.GetUserRolesAsync(user) : null)?.Result.FirstOrDefault()?.Replace("_", " "))</span>
                            </div>
                        </div>
                    </a>
                </nav>
            </aside>
        }

        @if (isSignedIn)
        {
            <main class="px-4 md:px-0 md:ml-72 mt-24 flex-1">
                @RenderBody()
            </main>
        }
        else
        {
            <main class="px-4 md:px-0 mt-24 flex-1">
                @RenderBody()
            </main>
        }
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/dropdownMenu.js" asp-append-version="true"></script>
    <script src="~/js/mobileMenu.js" asp-append-version="true"></script>

    <script>
        const mobileMenu = new MobileMenu();

        mobileMenu.init();
    </script>

    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
