@using Microsoft.AspNetCore.Identity
@using BugscapeMVC.Models.Enums
@using BugscapeMVC.Services.Interfaces

@inject UserManager<AppUser> UserManager
@inject ICompanyInfoService CompanyInfoService
@inject IRoleService RoleService
@inject IFileService FileService

@{
    AppUser? user = await UserManager.GetUserAsync(User);
    bool isSignedIn = user is not null ? true : false;
    Company? company = user is not null ?
        (CompanyInfoService.GetCompanyInfoByIdAsync(user.CompanyId)).Result : null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bugscape</title>
    <link rel="stylesheet" href="https://use.typekit.net/asq2vkb.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="bg-lightest container scrollbar-thin scrollbar-thumb-light scrollbar-track-white scrollbar-thumb-rounded-xl">
    <header class="fixed bottom-[calc(100vh-theme(spacing.24))] left-0 right-0 top-0 z-50 bg-lightest">
        <div class="container">
            <div class="flex items-center justify-between h-24 gap-10">
                <div class="flex items-center gap-4 md:gap-[88px]">
                    <a asp-action="Index" asp-controller="Home" class="w-48">
                        <img src="~/images/logo.png" alt="Bugscape Logo" class="w-48">
                    </a>

                    @if (isSignedIn)
                    {
                    <div class="hidden md:block relative">
                        <input type="search" class="bg-white rounded-lg px-4 py-2 border-mid pl-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 absolute top-2 left-2 stroke-dark">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                        </svg>
                    </div>
                    }
                </div>

                <div class="flex gap-4 items-center">
                    @if (user is not null)
                    {
                    @if (company is not null)
                    {
                    <div class="hidden md:flex md:gap-2 md:items-center">
                        @if (company.LogoFileData is null || company.LogoContentType is null)
                        {
                            <img class="h-6 w-6" src="~/images/default-logo.png" alt="@company.Name">
                        }
                        else
                        {
                            <img class="h-6 w-6" src="@FileService.ConvertByteArrayToFile(company.LogoFileData, company.LogoContentType)" alt="@company.Name">
                        }
                        <span class="font-lato text-dark whitespace-nowrap truncate">@company.Name</span>
                    </div>
                    }

                    <button class="relative">
                        <div class="absolute border-lightest border -top-2 -right-2 bg-danger rounded-full w-5 h-5 text-lightest font-bold font-lato text-xs flex items-center justify-center">3</div>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 stroke-dark ">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                        </svg>
                    </button>

                    <a class="hidden md:block" title="Signout" href="javascript:document.getElementById('logoutForm').submit();">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 stroke-dark">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
                        </svg>
                    </a>
                    }
                    else
                    {
                    <div class="hidden md:flex items-center gap-4">
                            <a asp-area="Identity" asp-page="/Account/Register"
                                class="font-lato text-dark rounded-md px-4 py-2 bg-success text-xs hover:bg-opacity-80 transition-opacity">Register</a>
                            <a asp-area="Identity" asp-page="/Account/Login"
                                class="font-lato text-dark rounded-md px-4 py-2 bg-info text-xs hover:bg-opacity-80 transition-opacity">Sign
                                In</a>
                    </div>
                    }
                    <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    </form>

                    <button class="md:hidden">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 stroke-dark">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </header>

    <div class="flex min-h-screen">
        @if (user is not null)
        {
        <aside class="hidden md:block fixed top-24 h-[calc(100vh-theme(spacing.24))] overflow-y-auto mr-6 scrollbar-thin scrollbar-thumb-light scrollbar-track-white scrollbar-thumb-rounded-xl">
            <nav class="bg-mid rounded-t-xl min-w-[theme.spacing.64] min-h-[calc(100vh-theme(spacing.24))] pt-12 pb-4 px-8 flex flex-col justify-between gap-8">
                <div class="space-y-6 font-dark font-bold">
                    <a class="flex gap-4 items-center group" asp-action="Dashboard" asp-controller="Home">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 30 30" class="fill-light">
                            <path id="Icon_material-dashboard" data-name="Icon material-dashboard" d="M4.5,21.167H17.833V4.5H4.5ZM4.5,34.5H17.833v-10H4.5Zm16.667,0H34.5V17.833H21.167Zm0-30v10H34.5V4.5Z" transform="translate(-4.5 -4.5)" />
                        </svg>
                        <span>Dashboard</span>
                    </a>

                    <div class="dropdown space-y-4">
                        <div class="trigger cursor-pointer flex items-center justify-between">
                            <div class="flex items-center gap-4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 30 24" class="fill-light">
                                    <path id="Icon_awesome-project-diagram" data-name="Icon awesome-project-diagram" d="M18,15H12a1.5,1.5,0,0,0-1.5,1.5v6A1.5,1.5,0,0,0,12,24h6a1.5,1.5,0,0,0,1.5-1.5v-6A1.5,1.5,0,0,0,18,15ZM9,1.5A1.5,1.5,0,0,0,7.5,0h-6A1.5,1.5,0,0,0,0,1.5v6A1.5,1.5,0,0,0,1.5,9H5.987l3.429,6A2.99,2.99,0,0,1,12,13.5h.013L9,8.227V6H19.5V3H9ZM28.5,0h-6A1.5,1.5,0,0,0,21,1.5v6A1.5,1.5,0,0,0,22.5,9h6A1.5,1.5,0,0,0,30,7.5v-6A1.5,1.5,0,0,0,28.5,0Z" />
                                </svg>
                                <span>Projects</span>
                            </div>
                            
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="switch fill-light h-4 w-4 transition-transform">
                                <path id="Icon_awesome-plus" data-name="Icon awesome-plus" d="M18.571,10.107H12.143V3.679A1.429,1.429,0,0,0,10.714,2.25H9.286A1.429,1.429,0,0,0,7.857,3.679v6.429H1.429A1.429,1.429,0,0,0,0,11.536v1.429a1.429,1.429,0,0,0,1.429,1.429H7.857v6.429A1.429,1.429,0,0,0,9.286,22.25h1.429a1.429,1.429,0,0,0,1.429-1.429V14.393h6.429A1.429,1.429,0,0,0,20,12.964V11.536A1.429,1.429,0,0,0,18.571,10.107Z" transform="translate(0 -2.25)" />
                            </svg>
                        </div>

                        <div class="content gap-5">
                            <div class="flex bg-light w-1"></div>
                            <div class="flex flex-col gap-4 font-normal text-sm">
                            @if (User.IsInRole(nameof(Roles.Admin)) || User.IsInRole(nameof(Roles.ProjectManager)))
                            {
                                <a asp-area="" asp-controller="Projects" asp-action="Create">New Project</a>
                            }
                            @if (!User.IsInRole(nameof(Roles.Admin)))
                            {
                                <a asp-area="" asp-controller="Projects" asp-action="MyProjects">My Projects</a>
                            }
                            <a asp-area="" asp-controller="Projects" asp-action="AllProjects">All Projects</a>
                            <a asp-area="" asp-controller="Projects" asp-action="ArchivedProjects">Archived Projects</a>
                            @if (User.IsInRole(nameof(Roles.Admin)))
                            {
                                <a asp-area="" asp-controller="Projects" asp-action="UnassignedProjects">Unassigned Projects</a>
                            }
                            </div>
                        </div>
                    </div>

                    <div class="dropdown space-y-4">
                        <div class="trigger cursor-pointer flex items-center justify-between">
                            <div class="flex items-center gap-4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 30 20" class="fill-light">
                                    <path id="Icon_awesome-ticket-alt" data-name="Icon awesome-ticket-alt" d="M6.667,9.5H23.333v10H6.667Zm20.833,5A2.5,2.5,0,0,0,30,17v5a2.5,2.5,0,0,1-2.5,2.5H2.5A2.5,2.5,0,0,1,0,22V17a2.5,2.5,0,0,0,0-5V7A2.5,2.5,0,0,1,2.5,4.5h25A2.5,2.5,0,0,1,30,7v5A2.5,2.5,0,0,0,27.5,14.5ZM25,9.083a1.25,1.25,0,0,0-1.25-1.25H6.25A1.25,1.25,0,0,0,5,9.083V19.917a1.25,1.25,0,0,0,1.25,1.25h17.5A1.25,1.25,0,0,0,25,19.917Z" transform="translate(0 -4.5)" />
                                </svg>
                                <span>Tickets</span>
                            </div>
                            
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="switch fill-light h-4 w-4 transition-transform">
                                <path id="Icon_awesome-plus" data-name="Icon awesome-plus" d="M18.571,10.107H12.143V3.679A1.429,1.429,0,0,0,10.714,2.25H9.286A1.429,1.429,0,0,0,7.857,3.679v6.429H1.429A1.429,1.429,0,0,0,0,11.536v1.429a1.429,1.429,0,0,0,1.429,1.429H7.857v6.429A1.429,1.429,0,0,0,9.286,22.25h1.429a1.429,1.429,0,0,0,1.429-1.429V14.393h6.429A1.429,1.429,0,0,0,20,12.964V11.536A1.429,1.429,0,0,0,18.571,10.107Z" transform="translate(0 -2.25)" />
                            </svg>
                        </div>

                        <div class="content gap-5">
                            <div class="flex bg-light w-1"></div>
                            <div class="flex flex-col gap-4 font-normal text-sm">
                            <a asp-area="" asp-controller="Tickets" asp-action="Create">New Ticket</a>
                            @if (!User.IsInRole(nameof(Roles.Admin)))
                            {
                                <a  asp-area="" asp-controller="Tickets" asp-action="MyTickets">My Tickets</a>
                            }
                            <a asp-area="" asp-controller="Tickets" asp-action="AllTickets">All Tickets</a>
                            <a asp-area="" asp-controller="Tickets" asp-action="ArchivedTickets">Archived Tickets</a>
                            @if (User.IsInRole(nameof(Roles.Admin)) || User.IsInRole(nameof(Roles.ProjectManager)))
                            {
                                <a asp-area="" asp-controller="Tickets" asp-action="UnassignedTickets">Unassigned Tickets</a>
                            }
                            </div>
                        </div>
                    </div>

                    <div class="flex gap-4 items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 30 21" class="fill-light">
                            <path id="Icon_awesome-users" data-name="Icon awesome-users" d="M4.5,11.25a3,3,0,1,0-3-3A3,3,0,0,0,4.5,11.25Zm21,0a3,3,0,1,0-3-3A3,3,0,0,0,25.5,11.25Zm1.5,1.5H24a2.991,2.991,0,0,0-2.114.872,6.857,6.857,0,0,1,3.52,5.128H28.5a1.5,1.5,0,0,0,1.5-1.5v-1.5A3,3,0,0,0,27,12.75Zm-12,0A5.25,5.25,0,1,0,9.75,7.5,5.247,5.247,0,0,0,15,12.75Zm3.6,1.5h-.389a7.248,7.248,0,0,1-6.422,0H11.4A5.4,5.4,0,0,0,6,19.65V21a2.251,2.251,0,0,0,2.25,2.25h13.5A2.251,2.251,0,0,0,24,21V19.65A5.4,5.4,0,0,0,18.6,14.25ZM8.114,13.622A2.991,2.991,0,0,0,6,12.75H3a3,3,0,0,0-3,3v1.5a1.5,1.5,0,0,0,1.5,1.5H4.589A6.874,6.874,0,0,1,8.114,13.622Z" transform="translate(0 -2.25)" />
                        </svg>
                        <span>Team</span>
                    </div>

                    <div class="flex gap-4 items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 30 24" class="fill-light">
                            <path id="Icon_material-email" data-name="Icon material-email" d="M30,6H6A3,3,0,0,0,3.015,9L3,27a3.009,3.009,0,0,0,3,3H30a3.009,3.009,0,0,0,3-3V9A3.009,3.009,0,0,0,30,6Zm0,6L18,19.5,6,12V9l12,7.5L30,9Z" transform="translate(-3 -6)" />
                        </svg>
                        <span>Notifications</span>
                    </div>

                    <div class="flex gap-4 items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 30 28.5" class="fill-light">
                            <path id="Icon_material-star" data-name="Icon material-star" d="M18,25.905,27.27,31.5,24.81,20.955,33,13.86l-10.785-.915L18,3l-4.215,9.945L3,13.86l8.19,7.1L8.73,31.5Z" transform="translate(-3 -3)"/>
                        </svg>
                        <span>Admin</span>
                    </div>

                    <a class="flex gap-4 items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 30 30.842" class="fill-light">
                            <path id="Icon_material-settings" data-name="Icon material-settings" d="M29.867,19.932a12.018,12.018,0,0,0,.108-1.511,12.018,12.018,0,0,0-.108-1.511l3.254-2.544a.778.778,0,0,0,.185-.987L30.222,8.043a.775.775,0,0,0-.941-.339l-3.84,1.542a11.267,11.267,0,0,0-2.606-1.511l-.586-4.087A.752.752,0,0,0,21.494,3H15.325a.752.752,0,0,0-.756.648l-.586,4.087a11.848,11.848,0,0,0-2.606,1.511L7.538,7.7a.752.752,0,0,0-.941.339L3.513,13.378a.76.76,0,0,0,.185.987L6.952,16.91a12.23,12.23,0,0,0-.108,1.511,12.23,12.23,0,0,0,.108,1.511L3.7,22.476a.778.778,0,0,0-.185.987L6.6,28.8a.775.775,0,0,0,.941.339l3.84-1.542a11.267,11.267,0,0,0,2.606,1.511l.586,4.087a.752.752,0,0,0,.756.648h6.168a.752.752,0,0,0,.756-.648l.586-4.087A11.848,11.848,0,0,0,25.441,27.6l3.84,1.542a.752.752,0,0,0,.941-.339l3.084-5.336a.778.778,0,0,0-.185-.987l-3.254-2.544ZM18.409,23.818a5.4,5.4,0,1,1,5.4-5.4A5.4,5.4,0,0,1,18.409,23.818Z" transform="translate(-3.406 -3)"/>
                        </svg>
                        <span>Settings</span>
                    </a>
                    
                </div>
                
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <div class="bg-light rounded-2xl px-4 py-3 flex gap-2 whitespace-nowrap items-center">
                        @if (user.AvatarFileData is null || user.AvatarContentType is null)
                        {
                            <img class="h-14 w-14 object-cover rounded-full" src="~/images/default-avatar.png" alt="@user.FullName">
                        }
                        else
                        {
                            <img class="h-14 w-14 object-cover rounded-full" src="@FileService.ConvertByteArrayToFile(user.AvatarFileData, user.AvatarContentType)" alt="@user.FullName">
                        }
                        <div class="font-lato">
                            <span class="font-bold block">@user.FullName</span>
                            <span class="text-sm block">@((RoleService.GetUserRolesAsync(user)).Result.FirstOrDefault())</span>
                        </div>
                    </div>
                </a>
            </nav>
        </aside>
        }

        @if (isSignedIn)
        {
            <main class="md:ml-72 mt-24 flex-1">
                @RenderBody()
            </main>
        }
        else
        {
            <main class="mt-24 flex-1">
                @RenderBody()
            </main>
        }
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/dropdownMenu.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
