@model BugscapeMVC.Models.Ticket
@using Microsoft.AspNetCore.Identity
@using BugscapeMVC.Services.Interfaces
@using BugscapeMVC.Models.Enums
@using Humanizer
@using System.Text.RegularExpressions

@inject UserManager<AppUser> UserManager
@inject ITicketHistoryService HistoryService
@inject IFileService FileService
@inject IProjectService ProjectService

@{
    AppUser? user = await UserManager.GetUserAsync(User);
    AppUser? projectManager = await ProjectService.GetProjectManagerAsync(Model.Project!.Id);

    ViewData["Title"] = "Ticket Details";
}

<div class="grid grid-cols-12 justify-between gap-4 mb-6">
    <section aria-label="Ticket Information" class="col-span-12 lg:col-span-6 rounded-md bg-white px-6 py-3 shadow-sm">
        <h1 class="font-rockwell text-dark text-xl font-bold mb-6">@Model.Title</h1>

        <div class="prose max-w-none font-lato">@Html.Raw(Model.Description)</div>
    </section>

    <section aria-label="Ticket Details" class="rounded-md bg-white px-6 py-3 shadow-sm col-span-12 lg:col-span-6">
        @{
            DateTime start = Model.Created.DateTime;
            DateTime end = Model.Project!.EndDate.DateTime;
            DateTime today = DateTime.Now;

            double percent = today >= end || Model.TicketStatus?.Name == nameof(TicketStatuses.Resolved) ? 100 :
                today < start ? 0 :
                Math.Round((today.Subtract(start)) / (end.Subtract(start)) * 100);
        }
        <h2 class="font-rockwell text-dark text-xl font-bold mb-6">Ticket Details</h2>
        
        <div class="grid grid-cols-2 gap-y-4">
            <div class="col-span-2">
                <p class="font-bold text-sm mb-2">Ticket Developer:</p>
                <div class="flex gap-2 items-center">
                    @if (Model.DeveloperUser is not null)
                    {
                        @if (Model.DeveloperUser.AvatarFileData is not null && Model.DeveloperUser.AvatarContentType is not null)
                        {
                            <img class="object-cover rounded-full" src="@FileService.ConvertByteArrayToFile(Model.DeveloperUser.AvatarFileData, Model.DeveloperUser.AvatarContentType)" alt="@Model.DeveloperUser.FullName" width="60" height="60">
                        }
                        else
                        {
                            <img class="rounded-full h-10 w-10" src="~/images/default-avatar.png" alt="@Model.DeveloperUser.FullName">
                        }

                        <div>
                            <p class="text-sm font-bold">@Model.DeveloperUser.FullName</p>
                            <a href="mailto:@Model.DeveloperUser.Email" class="text-xs block underline">@Model.DeveloperUser.Email</a>
                        </div>
                    }
                    else
                    {
                        <img class="rounded-full h-10 w-10 opacity-30" src="~/images/default-avatar.png" alt="Developer Profile">
                        <div class="space-y-2">
                            <p class="text-sm">Not Assigned</p>
                        </div>
                    }
                </div>
            </div>

            <div class="col-span-2 flex gap-2 items-center flex-wrap">
                @if (User.IsInRole(nameof(Roles.Admin)) || (user?.Id == projectManager?.Id && User.IsInRole(nameof(Roles.Project_Manager))))
                {
                    <a class="block w-fit bg-info text-white uppercase px-2 py-1 rounded-md text-xs font-bold hover:bg-opacity-80 transition-opacity" asp-action="AssignDeveloper" asp-controller="Tickets" asp-route-id="@Model.Id">@(Model.DeveloperUser is null ? "Assign Developer" : "Update Developer")</a>
                    <a class="block w-fit bg-info text-white uppercase px-2 py-1 rounded-md text-xs font-bold hover:bg-opacity-80 transition-opacity" asp-action="AssignMembers" asp-controller="Projects" asp-route-id="@Model.Project.Id">Manage Team</a>
                }
            </div>

            <p class="font-bold text-sm">Project:</p>
            <a asp-action="Details" asp-controller="Projects" asp-route-id="@Model.Project.Id" class="font-lato text-zinc-700 text-sm hover:underline underline-offset-2">
                @Model.Project.Name
            </a>

            <p class="font-bold text-sm mb-2">Progress:</p>
            <p class="font-normal text-sm">@percent%</p>

            <div class="col-span-2 -mt-4">
                <progress max="100" value="@percent" class="progress">
                    <div class="w-full bg-light rounded-full">
                        <span class="bg-info text-sm font-bold text-white text-center p-0.5 leading-none rounded-full" style="width: 45%">45%</span>
                    </div>
                </progress>
            </div>

            <p class="font-bold text-sm">Start Date:</p>
            <p class="text-sm">@start.ToString("dd MMM, yyyy")</p>

            <p class="font-bold text-sm">Deadline:</p>
            <p class="text-sm">@end.ToString("dd MMM, yyyy")</p>

            <p class="font-bold text-sm">Ticket Type:</p>
            <span class="uppercase px-2 py-1 bg-dark text-white rounded-md text-xs font-bold w-fit">@Model.TicketType?.Name?.Replace("_", " ")</span>

            <p class="font-bold text-sm">Priority:</p>
            @{
                string badgeClass = "bg-danger";

                switch (Model.TicketPriority?.Name)
                {
                    case nameof(Priorities.Urgent):
                        badgeClass = "bg-danger";
                        break;
                    case nameof(Priorities.High):
                        badgeClass = "bg-warning";
                        break;
                    case nameof(Priorities.Medium):
                        badgeClass = "bg-info";
                        break;
                    default:
                        badgeClass = "bg-success";
                        break;
                }
            }
            <span class="uppercase px-2 py-1 @badgeClass rounded-md text-xs font-bold w-fit">@Model.TicketPriority?.Name</span>
            
            <p class="font-bold text-sm">Status:</p>
            <div class="flex flex-wrap gap-2 items-center">
                <span class="bg-dark text-white uppercase px-2 py-1 rounded-md text-xs font-bold">@Model.TicketStatus?.Name</span>

                @if ((today >= start && today < end) && (Model.TicketStatus?.Name != nameof(TicketStatuses.Resolved)))
                {
                    <span class="uppercase px-2 py-1 bg-success rounded-md text-xs font-bold w-fit">ACTIVE</span>
                }
                else if (Model.TicketStatus?.Name == nameof(TicketStatuses.Resolved))
                {
                    <span class="uppercase px-2 py-1 bg-info rounded-md text-xs font-bold w-fit">CLOSED</span>
                }
                else if (today < start)
                {
                    <span class="uppercase px-2 py-1 bg-warning rounded-md text-xs font-bold w-fit">PENDING</span>
                }
                else if (today >= end)
                {
                    <span class="uppercase px-2 py-1 bg-danger rounded-md text-xs font-bold w-fit">EXPIRED</span>
                }
            </div>
        </div>

        @if(User.IsInRole(nameof(Roles.Admin)) || user?.Id == projectManager?.Id)
        {
            <div>
                <hr class="my-4 h-[2px] rounded bg-mid border-0" />

                <div class="flex gap-4 items-center">
                    <a asp-action="Edit" asp-route-id="@Model.Id" title="Edit Project" class="bg-light hover:scale-110 transition-transform flex items-center justify-center rounded-full p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                        </svg>
                    </a>
                    
                    @if (Model.Archived)
                    {
                        <a asp-action="Restore" asp-route-id="@Model.Id" title="Restore Project" class="bg-warning hover:scale-110 transition-transform flex items-center justify-center rounded-full p-2">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
                            </svg>
                        </a>
                    }
                    else
                    {
                        <a asp-action="Archive" asp-route-id="@Model.Id" title="Archive Project" class="bg-danger hover:scale-110 transition-transform flex items-center justify-center rounded-full p-2">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                            </svg>
                        </a>
                    }
                </div>
            </div>
        }
    </section>

    <section aria-label="Ticket Attachments" class="col-span-12 rounded-md bg-white px-6 py-3 shadow-sm">
        <h2 class="font-rockwell text-dark text-xl font-bold mb-6">Ticket Attachments</h2>
        
        @if (!String.IsNullOrEmpty(ViewBag.StatusMessage))
        {
            <partial name="~/Views/Shared/_StatusMessage.cshtml" model="@ViewBag.StatusMessage" />
        }
        @if (Model.Attachments.Count > 0)
        {
            <div class="flex flex-wrap gap-10 items-start">
                @foreach (TicketAttachment attachment in Model.Attachments)
                {
                    <div class="flex flex-col gap-2">
                        <div class="relative group">
                            @if (Model.DeveloperUserId == user?.Id || Model.OwnerUserId == user?.Id || projectManager?.Id == user?.Id || User.IsInRole(nameof(Roles.Admin)))
                            {
                                <form asp-action="DeleteFile" asp-controller="Tickets" method="post" class="hidden sm:block">
                                    <input type="hidden" name="Id" value="@attachment.Id">
                                    <button class="absolute hidden group-hover:flex items-center justify-center -top-2 right-0 bg-danger text-white rounded-full w-6 h-6 hover:scale-110 transition-transform" title="Delete Attachment">
                                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                                        </svg>
                                    </button>
                                </form>
                            }

                            <a asp-action="ShowFile" asp-controller="Tickets" asp-route-id="@attachment.Id">
                                <img src="@FileService.GetFileIcon(attachment.FileName!)" alt="@attachment.FileName" width="50" height="50">
                            </a>
                        </div>

                        <div class="flex flex-col gap-2">
                            <small class="text-xs text-zinc-700 font-lato">@attachment.Description</small>
                            <small class="text-xs text-zinc-700 font-lato">Size: @FileService.FormatFileSize(attachment.FileData!.Length)</small>
                            <form asp-action="DeleteFile" asp-controller="Tickets" method="post" class="sm:hidden">
                                <input type="hidden" name="Id" value="@attachment.Id">
                                <button class="font-lato text-xs text-white bg-danger px-2 py-1 rounded-md uppercase">Delete</button>
                            </form>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <p class="font-lato text-zinc-700">There are no attachments to show.</p>
        }

        @if (Model.DeveloperUserId == user?.Id || Model.OwnerUserId == user?.Id || projectManager?.Id == user?.Id || User.IsInRole(nameof(Roles.Admin)))
        {
            <hr class="my-4" />

            <form asp-action="AddTicketAttachment" asp-controller="Tickets" enctype="multipart/form-data" method="post" class="space-y-4">
                <input type="hidden" asp-for="Id" name="TicketId">
                
                <div class="flex flex-col gap-2">
                    <label asp-for="@(new TicketAttachment().FormFile)" class="text-sm text-zinc-700 font-lato">Upload Attachment</label>
                    <input asp-for="@(new TicketAttachment().FormFile)" id="file_input" type="file" class="w-full file:px-4 file:py-2 file:text-sm file:rounded-md file:cursor-pointer file:bg-warning file:font-lato file:hover:bg-opacity-80 file:transition-opacity file:border-0 file:mr-4">
                </div>

                <div class="flex flex-col gap-2">
                    <label asp-for="@(new TicketAttachment().Description)" class="font-lato text-sm text-zinc-700"></label>
                    <input type="text" asp-for="@(new TicketAttachment().Description)">
                </div>

                <div class="flex justify-end">
                    <button disabled id="attach_button" class="px-4 py-2 text-sm rounded-md bg-success font-lato enabled:hover:bg-opacity-80 transition-opacity flex items-center gap-1 disabled:opacity-30">
                        <span>Attach to Ticket</span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m18.375 12.739-7.693 7.693a4.5 4.5 0 0 1-6.364-6.364l10.94-10.94A3 3 0 1 1 19.5 7.372L8.552 18.32m.009-.01-.01.01m5.699-9.941-7.81 7.81a1.5 1.5 0 0 0 2.112 2.13" />
                        </svg>
                    </button>
                </div>
            </form>
        }
    </section>

    <section aria-label="Ticket Activity" class="col-span-12 lg:col-span-6 shadow-sm rounded-md bg-white px-6 py-3 flex flex-col">
        <h2 class="font-rockwell text-dark text-xl font-bold mb-6">Ticket Activity</h2>

        @if (Model.History.Count == 0)
        {
            <p class="font-lato text-zinc-700">There is no activity to show.</p>
        }
        else
        {
            <ol class="relative border-s border-light">                  
                @foreach (TicketHistory history in Model.History.OrderByDescending(h => h.Created))
                {
                    <li class="mb-10 ms-6">            
                        <a asp-action="Details" asp-controller="Members" asp-route-id="@history.User?.Id" class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-4 ring-mid">
                            @if (history.User?.AvatarFileData is null || history.User?.AvatarContentType is null)
                            {
                                <img class="rounded-full shadow-lg" src="~/images/default-avatar.png"
                                    alt="@history.User?.FullName">
                            }
                            else
                            {
                                <img class="rounded-full shadow-lg"
                                    src="@FileService.ConvertByteArrayToFile(history.User.AvatarFileData, history.User.AvatarContentType)"
                                    alt="@history.User?.FullName">
                            }
                        </a>
                        <div class="justify-between p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:flex">
                            <time class="mb-1 text-xs font-normal text-gray-400 sm:order-last sm:mb-0">@history.Created.Humanize()</time>
                            <div class="space-y-2">
                                @if (!string.IsNullOrEmpty(history.Description) && history.Description.Contains("New ticket created"))
                                {
                                    <p class="text-sm font-lato">A new ticket was added by <a asp-action="Details" asp-controller="Members" asp-route-id="@history.User?.Id" class="underline">@history.User?.FullName</a>.</p>
                                }
                                else if (history.Property.Equals("TicketComment"))
                                {
                                    <p class="text-sm font-lato">New comment added by <a asp-action="Details" asp-controller="Members" asp-route-id="@history.User?.Id" class="underline">@history.User?.FullName</a>.</p>
                                    <div class="p-3 text-xs italic font-normal text-gray-500 border border-gray-200 rounded-lg bg-gray-50">@history.Description</div>
                                }
                                else if (history.Property.Equals("TicketAttachment"))
                                {
                                    <p class="text-sm font-lato">A ticket attachment was added by <a asp-action="Details" asp-controller="Members" asp-route-id="@history.User?.Id" class="underline">@history.User?.FullName</a>.</p>
                                }
                                else
                                {
                                    <p class="text-sm font-lato"><b>@history.Property</b> was edited by <a asp-action="Details" asp-controller="Members" asp-route-id="@history.User?.Id" class="underline">@history.User?.FullName</a>.</p>
                                    @if (history.OldValue != null)
                                    {
                                        <p class="text-sm font-lato">Previous @history.Property: <span class="line-through">@Regex.Replace(history.OldValue, "<.*?>", string.Empty).Replace("_", " ")</span></p>
                                    }
                                    <p class="text-sm font-lato">Current @history.Property: @Regex.Replace(history.NewValue, "<.*?>", string.Empty).Replace("_", " ")</p>
                                }
                            </div>
                        </div>
                    </li>
                }
            </ol>
        }
    </section>

    <section aria-label="Ticket Comments" class="col-span-12 lg:col-span-6 shadow-sm rounded-md bg-white px-6 py-3 flex flex-col">
        <h2 class="font-rockwell text-dark text-xl font-bold mb-6">Ticket Comments</h2>

        @if (Model.DeveloperUserId == user?.Id || Model.OwnerUserId == user?.Id || projectManager?.Id == user?.Id || User.IsInRole(nameof(Roles.Admin)))
        {
            <form asp-action="AddTicketComment" asp-controller="Tickets" method="post" class="mb-4">
                <input type="hidden" asp-for="Id" name="TicketId">
                <textarea asp-for="@(new TicketComment().Comment)" rows="2" class="w-full mb-2" required placeholder="Add comment..."></textarea>
                <div class="flex justify-end mb-4">
                    <button class="flex items-center gap-1 px-4 py-2 text-sm rounded-md cursor-pointer bg-success font-lato hover:bg-opacity-80 transition-opacity">
                        <span>Send</span>
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5" />
                        </svg>
                    </button>
                </div>
                <hr />
            </form>
        }

        @if (Model.Comments.Count == 0)
        {
            <p class="font-lato text-zinc-700">There are no comments to show.</p>
        }
        else
        {
            <div class="space-y-4">

                @{
                    string? lastUserId = null;
                }

                @foreach (TicketComment comment in Model.Comments.OrderByDescending(c => c.Created))
                {
                    string chatBubbleColour;

                    if (lastUserId == null || lastUserId == comment.User?.Id)
                    {
                        chatBubbleColour = "bg-success";
                    }
                    else
                    {
                        chatBubbleColour = "bg-info";
                    }

                    lastUserId = comment.User?.Id;
                
                    <div class="flex items-start gap-2.5">
                        <a asp-action="Details" asp-controller="Members" asp-route-id="@comment.User?.Id" class="flex items-center justify-center w-8 h-8 rounded-full ring-4 ring-mid">
                            @if (comment.User?.AvatarFileData is null || comment.User?.AvatarContentType is null)
                            {
                                <img class="rounded-full shadow-lg" src="~/images/default-avatar.png"
                                    alt="@comment.User?.FullName">
                            }
                            else
                            {
                                <img class="rounded-full shadow-lg"
                                    src="@FileService.ConvertByteArrayToFile(comment.User.AvatarFileData, comment.User.AvatarContentType)"
                                    alt="@comment.User?.FullName">
                            }
                        </a>
                        <div class="flex flex-col w-full leading-1.5 p-4 border-gray-200 @chatBubbleColour bg-opacity-10 rounded-e-xl rounded-es-xl">
                            <div class="flex items-center space-x-2 rtl:space-x-reverse">
                                <span class="font-lato text-sm font-semibold text-dark">@comment.User?.FullName</span>
                                <span class="font-lato text-xs text-zinc-500">@comment.Created.Humanize()</span>
                            </div>
                            <p class="text-sm font-lato py-2.5 text-zinc-700">@comment.Comment</p>
                        </div>
                    </div>
                }
            </div>
        }
    </section>
</div>

<script>
    document.getElementById('file_input').addEventListener('change', function() {
        document.getElementById('attach_button').disabled = !this.value;
    });
</script>