@model BugscapeMVC.Models.Ticket
@using Microsoft.AspNetCore.Identity
@using BugscapeMVC.Services.Interfaces
@using BugscapeMVC.Models.Enums

@inject UserManager<AppUser> UserManager
@inject IProjectService ProjectService
@inject ITicketHistoryService HistoryService
@inject IFileService FileService

@{
    AppUser? user = await UserManager.GetUserAsync(User);
    AppUser? projectManager = await ProjectService.GetProjectManagerAsync(Model.ProjectId);

    ViewData["Title"] = "Details";
}

<h1>Ticket Details</h1>

@if (!string.IsNullOrEmpty(Model.DeveloperUserId))
{
                                                                    <a href="javascript:void(0);">
        @if (Model.DeveloperUser?.AvatarFileData is not null && Model.DeveloperUser?.AvatarContentType is not null)
        {
                                                                                                                                    <img class="media-object" src="@FileService.ConvertByteArrayToFile(Model.DeveloperUser.AvatarFileData, Model.DeveloperUser.AvatarContentType)" alt="@Model.DeveloperUser.FullName" width="30px" height="30px">
        }
        else
        {
                                                                                                                                    <img class="media-object" src="~/images/default_profile.png" alt="@Model.DeveloperUser?.FullName" width="30" height="30">
        }
                                                                </a>

                                                                <span class="text-muted" style="font-size:x-small;">
                                                                    Developer: <strong>@Model.DeveloperUser?.FullName</strong>
                                                                </span>
}

<div>
    <div classxfont-weighteighteightgetainer-fluid">
        <div class="row gy-2">
            <div class="col-md-12 col">
                <div class="row col-cols-2 mt-5 bg-secondary">
                    <div class="card col m-1 p-2">
                        <div class="card-body">
                            <h5>@Model.Title</h5>
                            <p>@Model.Description</p>
                            <div class="progress-container progress-info m-b-25">

                                <span class="progress-badge" style="font-size:small">Project: @Model.Project?.Name</span>
                                <div class="progress">
                                    @{
                                        DateTime start = Model.Project!.StartDate.DateTime;
                                        DateTime end = Model.Project.EndDate.DateTime;
                                        DateTime today = DateTime.Now;

                                        double percent = today >= end ? 100 :
                                            today < start ? 0 :
                                            Math.Round((today.Subtract(start)) / (end.Subtract(start)) * 100);
                                    }
                                    <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: @percent%;">

                                        <span class="progress-value">@percent%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card col m-1 p-2">
                        <div class="card-body">
                            <ul class="list-unstyled">				  
                                <li><strong>Date Entered:</strong> <span class="">  @Model.Created.ToString("dd MMM, yyyy")</</span></li>
                                <li><strong>Deadline:</strong> <span class="">  @Model.Project.EndDate.ToString("dd MMM, yyyy")</</span></li>
                                <li><strong>Type:</strong> <span class="">  @Model.TicketType?.Name</span></li>
                                <li><strong>Priority:</strong> <span class="">  @Model.TicketPriority?.Name</span></li>
                                <li><strong>Status:</strong> <span class="">  @Model.TicketStatus?.Name</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col col-cols-2 mt-5 ">
                <div class="col">
                    <div class="bg-secondary">
                        <div class="card m-1 p-2">
                            <div class="card-header">
                                <h2>Comments</h2>
                            </div>
                            <div class="card-body" style="overflow-y:auto;height:600px;">

                                <form asp-action="AddTicketComment" asp-controller="Tickets" method="post" class="form-horizontal form-bordered">
                                    <input type="hidden" asp-for="Id" name="TicketId">

                                    @if (Model.DeveloperUserId == user?.Id || Model.OwnerUserId == user?.Id || projectManager?.Id == user?.Id || User.IsInRole(nameof(Roles.Admin)))
                                    {
                                            <div class="form-group">
                                                <textarea asp-for="@(new TicketComment().Comment)" rows="8" class="form-control" required placeholder="Add comment..."></textarea>
                                            </div>
                                            <button class="btn btn-sm btn-primary">Submit</button>
                                    }
                                    else
                                    {
                                            <div class="form-group">
                                                <textarea disabled asp-for="@(new TicketComment().Comment)" rows="8" class="form-control" required placeholder="Add comment..."></textarea>
                                            </div>
                                    }
                                </form>
                                <hr />
                                    <h6>Comments</h6>
                                    <ul class="right_chat list-unstyled mb-0">
                                    @foreach (TicketComment comment in Model.Comments)
                                    {
                                            <li class="online mb-4">
                                                <div class="media">
                                                    <a href="javascript:void(0);">
                                                    @if (user?.AvatarFileData is not null && user?.AvatarContentType is not null)
                                                    {
                                                            <img class="media-object" src="@FileService.ConvertByteArrayToFile(user.AvatarFileData, user.AvatarContentType)" alt="@user.FullName" width="30px" height="30px">
                                                    }
                                                    else
                                                    {
                                                            <img class="media-object" src="~/images/default_profile.png" alt="@user?.FullName" width="30" height="30">
                                                    }
                                                    </a>
                                                    <div class="media-body">
                                                        <span class="text-muted" style="font-size:x-small;">
                                                            @@ @comment.User?.FullName
                                                            <small class="float-right">@comment.Created.ToString("dd.MM.yyyy h:ss tt")</small>:
                                                        </span>
                                                    </div>
                                                    <span class="message text-primary">@Html.Raw(comment.Comment)</span>
                                                </div>
                                            </li>
                                    }
                                    </ul>
                            </div>
                            <div class="card-footer">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="bg-secondary">
                        <div class="card m-1 p-2">
                            <div class="card-header">
                                <h2>Attachments</h2>
                            </div>
                            <div class="card-body" style="overflow-y:auto;height:300px;">

                                <div class="row clearfix">
                                    <div>
                                        <form asp-action="AddTicketAttachment" asp-controller="Tickets" enctype="multipart/form-data" method="post">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <input type="hidden" asp-for="Id" name="TicketId">

                                            <div class="media-body ml-3">
                                                <label>
                                                    Description
                                                    <input type="text" asp-for="@(new TicketAttachment().Description)" class="form-control">
                                                </label>
                                                <br />
                                                <label class="btn  btn-outline-primary btn-sm">
                                                    <input asp-for="@(new TicketAttachment().FormFile)" type="file" class="form-control-file">
                                                </label>
                                                <button type="submit" class="btn btn-outline-secondary btn-sm md-btn-flat">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <hr />

                                <h6>Attachments</h6>

                                <div class="container">
                                    <div class="row">
                                        @foreach (TicketAttachment attachment in Model.Attachments)
                                        {
                                                <div class="col col-sm-2">
                                                    <a asp-action="ShowFile" asp-controller="Tickets" asp-route-id="@attachment.Id">
                                                        <div class="icon">
                                                                <img src="@FileService.GetFileIcon(attachment.FileName!)" alt="@attachment.FileName" width="50" height="50" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="@attachment.FileName">
                                                        </div>
                                                    </a>

                                                    <div style="font-size:x-small">
                                                        <div class="file-name">
                                                            <strong>@attachment.Description</strong>
                                                        </div>
                                                        <small>Size: @FileService.FormatFileSize(attachment.FileData!.Length)</small>
                                                    </div>
                                                </div>
                                        }
                                    </div>
                                </div>

                            </div>
                            <div class="card-footer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col mt-5 ">
                <div class="bg-dark">
                    <div class="card m-1 p-2">
                        <div class="card-header">
                            <h2>History</h2>
                            <hr />
                        </div>
                        <div class="card-body" style="overflow-y:auto;height:1000px;background-color:antiquewhite">
                            @foreach (TicketHistory history in Model.History)
                            {
                                    <div>
                                        <span class="date" style="font-weight: bold;">@history.Created.ToString("dd MMM yyyy")</span>
                                        <h6>@history.Description</h6>
                                        <span>By: <a href="" title="@history.User?.FullName">@history.User?.FullName</a></span>
                                        <div>
                                        @if (!string.IsNullOrEmpty(history.Description) && history.Description.Contains("New ticket created"))
                                        {
                                                <p>A ticket was added.</p>
                                        }
                                        else if (history.Property.Equals("TicketComment") || history.Property.Equals("TicketAttachment"))
                                        {
                                                <p>A <strong>@history.Property</strong> was added.</p>
                                        }
                                        else
                                        {
                                                <p>The ticket <b>@history.Property</b> was edited</p>
                                                <p>Previous @history.Property: <span class="text-danger">@history.OldValue</span></p>
                                                <p>Current @history.Property: <span class="text-success">@history.NewValue</span></p>
                                        }
                                    </div>
                                </div>
                                <hr />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>