@model BugscapeMVC.Models.Notification

@using BugscapeMVC.Services.Interfaces
@using Microsoft.AspNetCore.Identity

@inject IFileService FileService
@inject UserManager<AppUser> UserManager

@{
    ViewData["Title"] = Model.Title;

    string? userId = UserManager.GetUserId(User);
}

<section class="rounded-md bg-white px-6 py-3">
    <div class="flex items-center justify-between mb-4">
        <div class="flex flex-wrap items-center gap-2">
            <h1 class="font-rockwell text-dark text-xl font-bold">@ViewData["Title"]</h1>
            <span class="font-lato text-xs text-zinc-500 border border-gray-300 rounded p-1">@Model?.Created.ToString("MM/dd/yyyy HH:mm")</span>
        </div>

        @if (userId == Model?.RecipientId)
        {
            <div class="flex items-center gap-2">
                @if (Model?.Sender is not null)
                {
                    <a asp-action="Create" title="Reply" asp-route-recipientId="@Model.SenderId" asp-route-ticketId="@Model?.TicketId" asp-route-subject="@Model?.Title" class="bg-warning hover:bg-opacity-80 transition-opacity flex items-center justify-center rounded-full p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3 10h10a8 8 0 018 8v2M3 10l6 6m-6-6l6-6" />
                        </svg>
                    </a>
                }

                <form asp-action="Delete" asp-controller="Notifications" method="post">
                    <input type="hidden" name="id" value="@Model?.Id" />
                    <button type="submit" title="Delete" class="bg-danger hover:bg-opacity-80 transition-opacity flex items-center justify-center rounded-full p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                        </svg>
                    </button>
                </form>
            </div>
        }
    </div>

    <div class="mb-4 grid grid-cols-12 gap-2">
        <div class="font-lato font-semibold text-zinc-700 text-sm col-span-2 md:col-span-1">From:</div>

        @if (Model?.Sender is not null)
        {
            <a asp-action="Details" asp-controller="Members" asp-route-id="@Model?.SenderId" class="col-span-10 md:col-span-11 group h-8 w-8 flex gap-2" aria-label="Sender&apos;s Profile">
                @if (Model?.Sender?.AvatarFileData is null || Model?.Sender?.AvatarContentType is null)
                {
                    <img class="h-5 w-5 object-cover rounded-full group-hover:scale-110 transition-transform" src="~/images/default-avatar.png" alt="@Model?.Sender?.FullName">
                }
                else
                {
                    <img class="h-5 w-5 object-cover rounded-full group-hover:scale-110 transition-transform" src="@FileService.ConvertByteArrayToFile(Model.Sender.AvatarFileData, Model.Sender.AvatarContentType)" alt="@Model.Sender?.FullName">
                }
                <span class="whitespace-nowrap group-hover:underline underline-offset-2 text-sm font-lato text-zinc-700">@Model?.Sender?.FullName</span>
            </a>
        }
        else
        {
            <div class="flex gap-2 items-center col-span-10 md:col-span-11">
                <img src="~/images/bugbot.png" alt="Bug Bot" class="h-5 w-5">
                <span class="font-lato text-sm whitespace-nowrap text-zinc-700 font-normal">Bug Bot</span>
            </div>
        }

        <div class="font-lato font-semibold text-zinc-700 text-sm col-span-2 md:col-span-1">To:</div>

        <a asp-action="Details" asp-controller="Members" asp-route-id="@Model?.Recipient?.Id" class="col-span-10 md:col-span-11 group h-8 w-8 flex gap-2" aria-label="Recipient&apos;s Profile">
            @if (Model?.Recipient?.AvatarFileData is null || Model?.Recipient?.AvatarContentType is null)
            {
                <img class="h-5 w-5 object-cover rounded-full group-hover:scale-110 transition-transform" src="~/images/default-avatar.png" alt="@Model?.Recipient?.FullName">
            }
            else
            {
                <img class="h-5 w-5 object-cover rounded-full group-hover:scale-110 transition-transform" src="@FileService.ConvertByteArrayToFile(Model.Recipient.AvatarFileData, Model.Recipient.AvatarContentType)" alt="@Model.Recipient?.FullName">
            }
            <span class="whitespace-nowrap group-hover:underline underline-offset-2 text-sm font-lato text-zinc-700">@Model?.Recipient?.FullName</span>
        </a>
    </div>

    <hr class="mb-4" />

    <div class="font-lato text-zinc-700 mb-4">@Html.Raw(Model?.Message)</div>

    @if (Model?.Ticket is not null)
    {
        <a asp-action="Details" asp-controller="Tickets" asp-route-id="@Model?.TicketId" class="group flex items-center gap-2 w-fit">
            <div class="bg-info group-hover:bg-opacity-80 transition-opacity flex items-center justify-center rounded-full p-2">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
                </svg>
            </div>
            <span class="font-lato text-zinc-700 border text-sm border-gray-300 group-hover:border-gray-200 transition-colors rounded p-1">@Model?.Ticket.Title</span>
        </a>
    }
</section>
