@using BugscapeMVC.Services.Interfaces
@using BugscapeMVC.Models.ViewModels

@inject UserManager<AppUser> UserManager
@inject IFileService FileService
@inject IRoleService RoleService

@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }

    AppUser? user = await UserManager.GetUserAsync(User);
    bool isSignedIn = user is not null ? true : false;
}

<h1 class="font-rockwell text-dark text-xl font-bold mb-4">Manage Your Account</h1>

<div class="mb-4 flex items-center flex-wrap gap-4">
    <button type="button" data-open-modal title="Update Profile Image" class="group relative w-fit">
        @if (user?.AvatarFileData is null || user.AvatarContentType is null)
        {
            <img class="h-20 w-20 object-cover rounded-full ring-4 ring-mid" src="~/images/default-avatar.png"
                alt="@user?.FullName">
        }
        else
        {
            <img class="h-20 w-20 object-cover rounded-full ring-4 ring-mid"
                src="@FileService.ConvertByteArrayToFile(user.AvatarFileData, user.AvatarContentType)"
                alt="@user.FullName">
        }
        <span aria-hidden class="opacity-0 group-hover:opacity-100 transition-opacity absolute text-sm font-lato bg-opacity-60 -right-1 -top-1 rounded-full p-2 bg-mid">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 fill-zinc-700" viewBox="0 0 20 20" fill="currentColor">
                <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
            </svg>
        </span>
    </button>

    @if (user is not null)
    {
        <div class="flex flex-col gap-1">
            <span class="font-rockwell text-dark text-lg font-semibold">@user.FullName</span>
            <span class="font-lato font-normal text-sm text-zinc-700">@((RoleService.GetUserRolesAsync(user)).Result.FirstOrDefault()?.Replace("_", " "))</span>
        </div>
    }
</div>

<partial name="~/Views/Shared/_UpdateProfileImage.cshtml" model="@user" />

<partial name="_ManageNav" />

@RenderBody()

@section Scripts {
    @RenderSection("Scripts", required: false)
}
