@model IEnumerable<BugscapeMVC.Models.ViewModels.ManageUserRolesViewModel>

@using Microsoft.AspNetCore.Identity
@using BugscapeMVC.Services.Interfaces

@inject UserManager<AppUser> UserManager
@inject IFileService FileService
@inject IRoleService RoleService

@{
	ViewData["Title"] = "Manage User Roles";

	AppUser? user = await UserManager.GetUserAsync(User);

	var avatarSource = user?.AvatarFileData is null || user.AvatarContentType is null
        ? "/images/default-avatar.png"
        : FileService.ConvertByteArrayToFile(user.AvatarFileData, user.AvatarContentType);
}

<h1 class="font-rockwell text-dark text-xl font-bold mb-4">@ViewData["Title"]</h1>
<hr class="mb-4" />

<div class="rounded-lg bg-warning bg-opacity-30 border border-warning flex items-center gap-4 px-6 py-3">
	<img class="h-14 w-14 object-cover rounded-full ring-4 ring-mid" src="@avatarSource" alt="@user?.FullName">
	<div class="font-lato w-24">
		<span class="font-semibold text-sm block whitespace-nowrap truncate">@user?.FullName</span>
		<span
			class="text-xs block whitespace-nowrap">@((user != null ? RoleService.GetUserRolesAsync(user) : null)?.Result.FirstOrDefault()?.Replace("_", " "))</span>
	</div>
</div>

<div class="row">
  <h2 class="m-t-0 h3"><b>Manage Member Roles </b></h2>
  @foreach (var member in Model)
  {
      <div class="row">
      	<div class="card col-4 m-3">
      	    <div class="card-body">
      	    	<p class="text-muted font-13 m-b-30">
      	    		This form displays the current roles assigned to the user: <strong class="text-info">@member.AppUser.FullName</strong>.
      	    		Use the dropdown to select the roles this user should be assigned.
      	    		Once roles are selected, click "Assign Roles" to submit the form.
      	    	</p>
      	    	<hr />

				@if (member is not null)
				{
      	    		<form asp-action="ManageUserRoles" asp-controller="UserRoles" method=post>
                    	<input type="hidden" asp-for="@member.AppUser.Id" />

						<div class="row">
							<div class="col-6">
								<div class="from-group">
									<label asp-for="@member.Roles" class="custom-label">Roles for @member.AppUser.FullName</label>
									<select asp-for="@member.SelectedRoles" class="form-control" asp-items="@member.Roles" multiple>
									</select>
									<hr />
								</div>
								<div class="form-group">
									<button type="submit" class="btn btn-info">Assign Role</button>
								</div>
							</div>
						</div>
      	    		</form>
				}
      	    </div>
      	</div>
      </div>
  }
</div>