@model IEnumerable<BugscapeMVC.Models.Project>
@using Microsoft.AspNetCore.Identity
@using BugscapeMVC.Services.Interfaces
@using BugscapeMVC.Models.Enums

@inject IFileService FileService
@inject IProjectService ProjectService
@inject UserManager<AppUser> UserManager

@{
    ViewData["Title"] = "Archived Projects";

    AppUser? user = await UserManager.GetUserAsync(User);
}

<h1>Archived Projects</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageFileData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Archived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectPriority)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @if (item.ImageFileData is null || item.ImageContentType is null)
                {
                    <img id="imageFileData" class="img-fluid img-thumbnail" src="~/images/default_project.png">
                }
                else
                {
                    <img id="imageFileData" class="img-fluid img-thumbnail" src="@FileService.ConvertByteArrayToFile(item.ImageFileData, item.ImageContentType)">
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Archived)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectPriority.Name)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>

                @{
                    AppUser? Project_Manager = await ProjectService.GetProjectManagerAsync(item.Id);
                    bool isProjectPM = Project_Manager?.Id == user?.Id;

                }

                @if(User.IsInRole(nameof(Roles.Admin)) || isProjectPM)
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Restore" asp-route-id="@item.Id">Restore</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>