@model BugscapeMVC.Models.Project
@using BugscapeMVC.Services.Interfaces

@inject IFileService FileService

@{
    ViewData["Title"] = "Archive Project";
}

<h1 class="font-rockwell text-dark text-xl font-bold mb-4">@ViewData["Title"]</h1>

<hr class="mb-4 h-[2px] rounded bg-mid border-0" />

<p class="font-lato mb-4 text-zinc-600">Are you sure you want to archive the project below?</p>

<div class="flex flex-wrap gap-4 mb-4">
    <div class="grow">
        <h2 class="font-rockwell mb-4 font-semibold text-lg text-zinc-600">@Model.Name</h2>

        <div class="prose max-w-none font-lato text-zinc-600">@Html.Raw(Model.Description)</div>
    </div>

    @if(Model.ImageFileData is not null && Model.ImageContentType is not null)
    {
        <figure>
            <img src="@FileService.ConvertByteArrayToFile(Model.ImageFileData, Model.ImageContentType)" alt="@Model.Name" class="object-cover max-h-60">
        </figure>
    }
</div>

<form asp-action="Archive" class="flex gap-2 items-center">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Archive" class="px-4 py-2 text-white text-sm rounded-md cursor-pointer bg-danger font-lato font-bold hover:bg-opacity-80 transition-opacity" />
    <a asp-action="Index" class="px-4 py-2 text-sm rounded-md cursor-pointer bg-info font-lato font-bold hover:bg-opacity-80 transition-opacity">Back</a>
</form>
