@model BugscapeMVC.Models.ViewModels.AssignMembersViewModel

@{
    ViewData["Title"] = "Assign Members";
}

<h1 class="font-rockwell text-dark text-xl font-bold mb-4">@ViewData["Title"]</h1>
<hr class="mb-4 h-[2px] rounded bg-mid border-0" />

<h2 class="font-rockwell font-semibold text-lg text-dark mb-4">@Model.Project.Name</h2>
<p class="font-lato mb-4">Assign team members to join this project.</p>

<form asp-action="AssignMembers" method="post">
    <input type="hidden" asp-for="Project.Id">
    <input type="hidden" asp-for="Project.Name">
    <h3 class="font-rockwell font-semibold mb-4 text-lg text-dark">Assign Developers</h3>
    <div class="flex gap-4 mb-4" data-container="developers">
        <div class="flex flex-col gap-2 grow">
            <label asp-for="AvailableDevelopers" class="font-lato text-sm font-semibold">Available Developers</label>
            <select data-selection multiple aria-multiselectable="true" asp-for="AvailableDevelopers" asp-items="@Model.AvailableDevelopers" class="font-lato">
            </select>
        </div>

        <div class="flex flex-col gap-2 items-center justify-center">
            <button title="Add Member" type="button" data-add-button class="rounded-md p-2 bg-success hover:bg-opacity-80 transition-opacity">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
                </svg>
            </button>
            <button title="Remove Member" type="button" data-remove-button class="rounded-md p-2 bg-danger hover:bg-opacity-80 transition-opacity">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M18.75 19.5l-7.5-7.5 7.5-7.5m-6 15L5.25 12l7.5-7.5" />
                </svg>
            </button>
        </div>

        <div class="flex flex-col gap-2 grow">
            <label asp-for="SelectedDevelopers" class="font-lato text-sm font-semibold">Assigned Developers</label>
            <select data-selected multiple aria-multiselectable="true" asp-for="SelectedDevelopers" asp-items="@Model.SelectedDevelopers" class="font-lato">
            </select>
        </div>
    </div>

    <h3 class="font-rockwell font-semibold mb-4 text-lg text-dark">Assign Submitters</h3>
    <div class="flex gap-4 mb-4" data-container="submitters">
        <div class="flex flex-col gap-2 grow">
            <label asp-for="AvailableSubmitters" class="font-lato text-sm font-semibold">Available Submitters</label>
            <select data-selection multiple aria-multiselectable="true" asp-for="AvailableSubmitters" asp-items="@Model.AvailableSubmitters" class="font-lato">
            </select>
        </div>

        <div class="flex flex-col gap-2 items-center justify-center">
            <button title="Add Member" type="button" data-add-button class="rounded-md p-2 bg-success hover:bg-opacity-80 transition-opacity">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
                </svg>
            </button>
            <button title="Remove Member" type="button" data-remove-button class="rounded-md p-2 bg-danger hover:bg-opacity-80 transition-opacity">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M18.75 19.5l-7.5-7.5 7.5-7.5m-6 15L5.25 12l7.5-7.5" />
                </svg>
            </button>
        </div>

        <div class="flex flex-col gap-2 grow">
            <label asp-for="SelectedSubmitters" class="font-lato text-sm font-semibold">Assigned Submitters</label>
            <select data-selected multiple aria-multiselectable="true" asp-for="SelectedSubmitters" asp-items="@Model.SelectedSubmitters" class="font-lato">
            </select>
        </div>
    </div>

    <div class="flex justify-end">
        <button type="submit"
            class="px-4 py-2 text-sm rounded-md cursor-pointer bg-success font-lato font-bold hover:bg-opacity-80 transition-opacity">Update Team</button>
    </div>
</form>

<script src="~/js/listTransfer.js"></script>
<script>
    const developers = document.querySelector('[data-container="developers"]');
    const submitters = document.querySelector('[data-container="submitters"]');
    const developersList = new ListTransfer(developers, 'SelectedUsers');
    const submittersList = new ListTransfer(submitters, 'SelectedUsers');

    developersList.init();
    submittersList.init();
</script>