@model BugscapeMVC.Models.ViewModels.AddProjectWithPMViewModel
@using BugscapeMVC.Services.Interfaces
@using BugscapeMVC.Models.Enums

@inject IFileService fileService

@{
    ViewData["Title"] = "Create New Project";
}

<head>
    <script src="/lib/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
</head>

<h1 class="font-rockwell text-dark text-xl font-bold mb-4">@ViewData["Title"]</h1>
<hr class="mb-4 h-[2px] rounded bg-mid border-0" />


<form asp-action="Create" method="post" enctype="multipart/form-data"
    class="grid grid-cols-1 lg:grid-cols-2 gap-4 mb-4">
    <div asp-validation-summary="ModelOnly" class="error"></div>

    <div class="flex flex-col lg:col-span-2 gap-2">
        <label asp-for="Project.Name" class="font-lato text-sm font-bold"></label>
        <input asp-for="Project.Name" class="font-lato text-sm" />
        <span asp-validation-for="Project.Name" class="error"></span>
    </div>

    <div class="flex flex-col lg:col-span-2 gap-2">
        <label asp-for="Project.Description" class="font-lato text-sm font-bold"></label>
        <textarea asp-for="Project.Description" data-tinymce class="font-lato text-sm" rows="3"></textarea>
        <span asp-validation-for="Project.Description" class="error"></span>
    </div>

    <div class="flex flex-col gap-2 lg:col-span-2">
        <label asp-for="Project.ImageFormFile" class="block font-lato text-sm font-bold"></label>
        <div class="flex h-full border-2 border-mid rounded-lg shadow-sm px-4 py-2">
            <div class="flex flex-col gap-2 w-full">
                <img data-image-output class="img-fluid img-thumbnail object-cover mx-auto max-h-60"
                    src="~/images/default-project.png">

                <input data-image-input asp-for="Project.ImageFormFile"
                    class="block bg-white rounded-md border-2 border-mid file:font-lato font-lato w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-md file:border-0 file:text-sm file:font-semibold file:bg-mid file:text-dark file:cursor-pointer hover:file:bg-light"
                    accept="image/jpg, image/jpeg, image/png, image/webp, image/gif" />

                <span asp-validation-for="Project.ImageFormFile"
                    class="error"></span>
            </div>
        </div>
    </div>

    @{
        var today = DateTime.Today;
        var nextMonth = today.AddMonths(1);
    }

    <div class="flex flex-col gap-2">
        <label asp-for="Project.StartDate" class="font-lato text-sm font-bold"></label>
        <input asp-for="Project.StartDate" value="@today.ToString("yyyy-MM-dd")" class="font-lato text-sm">
        <span asp-validation-for="Project.StartDate" class="error"></span>
    </div>

    <div class="flex flex-col gap-2">
        <label asp-for="Project.EndDate" class="font-lato text-sm font-bold"></label>
        <input asp-for="Project.EndDate" value="@nextMonth.ToString("yyyy-MM-dd")" class="font-lato text-sm">
        <span asp-validation-for="Project.EndDate" class="error"></span>
    </div>

    <div class="flex flex-col gap-2">
        <label asp-for="Project.ProjectPriorityId" class="font-lato text-sm font-bold"></label>
        <select asp-for="Project.ProjectPriorityId" class="font-lato text-sm" asp-items="@Model.PriorityList">
            <option disabled selected hidden class="font-lato text-sm">Choose Priority</option>
        </select>
        <span asp-validation-for="Project.ProjectPriorityId" class="error"></span>
    </div>

    @if (User.IsInRole(Roles.Admin.ToString()))
    {
        <div class="flex flex-col gap-2">
            <label asp-for="PmId" class="font-lato text-sm font-bold"></label>
            <select asp-for="PmId" class="font-lato text-sm" asp-items="@Model.PMList">
                <option disabled selected hidden class="font-lato text-sm">Choose PM</option>
            </select>
        </div>
    }


    <div class="lg:col-span-2 flex justify-end">
        <button type="submit"
            class="px-4 py-2 text-sm rounded-md cursor-pointer bg-success font-lato hover:bg-opacity-80 transition-opacity">Create
            Project</button>
    </div>
</form>


<script src="~/js/imagePreview.js"></script>
<script>
    const instance = new ImagePreview();

    instance.init();
    tinymce.init({
        selector: '[data-tinymce]',
        menubar: false,
        statusbar: false,
        height: 200
    });
</script>

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

